{% extends 'birthday/base.html' %}

{% block title %}更新資訊 | {{ block.super }}{% endblock title %}

{% block head %}
<style>
  /* .pagination.type .page-item .page-link {
    color: #fd0d0d !important;
    border-color: #a50000 !important;
  }
  .pagination.type .page-item.active .page-link {
    color: #fff !important;
    background: #ff0000 !important;
    border-color: #a50000 !important;
  } */
</style>
{% endblock head %}


{% block main %}
<div id="app">

  <div class="mb-2">
    <h2>更新資訊 What's New</h2>
  </div>

  <hr>

  <nav aria-label="Page navigation example">
    <ul class="pagination type">
      <li class="page-item" :class="{active: urlParam === '全部'}">
        <a class="page-link" href="{% url 'updates' 1 %}?filter=全部">全部</a>
      </li>
      <li class="page-item" :class="{active: urlParam === '新功能'}">
        <a class="page-link" href="{% url 'updates' 1 %}?filter=新功能">新功能</a>
      </li>
      <li class="page-item" :class="{active: urlParam === '增加'}">
        <a class="page-link" href="{% url 'updates' 1 %}?filter=增加">增加</a>
      </li>
      <li class="page-item" :class="{active: urlParam === '修正'}">
        <a class="page-link" href="{% url 'updates' 1 %}?filter=修正">修正</a>
      </li>
    </ul>
  </nav>


  <nav v-if="page_info.num_pages > 1">
    <ul class="pagination justify-content-center">
      <!-- <li class="page-item"><a class="page-link" href="">上一頁</a></li> -->
      <template v-for="page in page_info.page_range" >
        <li v-if="page.name === page_info.page" class="page-item active">
          <span class="page-link">[[ page.name ]] <span class="sr-only">(current)</span></span>
        </li>
        <li v-else-if="page.name ===  '...'" class="page-item"><span class="page-link">[[ page.name ]]</span></li>
        <li v-else class="page-item"><a class="page-link" :href="page.url">[[ page.name ]]</a></li>
      </template>
      <!-- <li class="page-item"><a class="page-link" href="">下一頁</a></li> -->
    </ul>
  </nav>

  <div class="row row-cols-1 g-1 justify-content-center my-3">
    
    <div v-for="(update, index) in updates" :key="update.date" class="col-9">
      <div class="card h-100"
        :class="{'border-success': update.type == '新功能', 'border-warning': update.type == '修正', 'border-info': update.type == '增加'}">
        <div class="card-body">
          <span class="card-title badge"
            :class="{'bg-success': update.type == '新功能', 'bg-warning text-dark': update.type == '修正', 'bg-info text-dark': update.type == '增加'}">
            [[ update.type ]]
          </span>
          <small class="card-subtitle mb-2 text-muted">
            [[ update.date ]]
          </small>
          <p class="card-text">[[ update.text ]]</p>
          <template v-if="update.media_id">
            <div style="font-size: 14px;">
              <a class="btn btn-outline-primary btn-sm" :href="'/media/?id=' + update.media_id" role="button">
                [[ update.media_name ]]
              </a>
              <span class="ms-2">[[ update.character ]]</span>
            </div>
          </template>
        </div>
      </div>
    </div>

  </div>

  <nav v-if="page_info.num_pages > 1">
    <ul class="pagination justify-content-center">
      <!-- <li class="page-item"><a class="page-link" href="">上一頁</a></li> -->
      <template v-for="page in page_info.page_range" >
        <li v-if="page.name === page_info.page" class="page-item active">
          <span class="page-link">[[ page.name ]] <span class="sr-only">(current)</span></span>
        </li>
        <li v-else-if="page.name ===  '...'" class="page-item"><span class="page-link">[[ page.name ]]</span></li>
        <li v-else class="page-item"><a class="page-link" :href="page.url">[[ page.name ]]</a></li>
      </template>
      <!-- <li class="page-item"><a class="page-link" href="">下一頁</a></li> -->
    </ul>
  </nav>

</div>
{% endblock main %}


{% block script %}
<script>
  new Vue({
    delimiters: ["[[", "]]"],
    el: '#app',
    data: {
      updates: JSON.parse("{{ updates|escapejs }}"),
      page_info: JSON.parse("{{ page_info|escapejs }}"),

      // updateType: '全部',  // 篩選類別
      // options: ['全部', '新功能', '增加', '修正'],
    },

    computed: {
      urlParam: function () {
        var url = new URL(window.location.href);
        var param = (url.searchParams.get("filter") || '全部').trim();
        return param
      },

      // updateType: function () {
      //   var url = new URL(window.location.href);
      //   var param = url.searchParams.get("filter") || '全部';
      //   console.log(param)
      //   var param1 = param.trim();
      //   // console.log(param1)
      //   // return '全部'
      //   return param1
      // },

      // updateType:
      // {
      //   get()
      //   {
      //       var url = new URL(window.location.href);
      //       var param = (url.searchParams.get("filter") || '全部').trim();
      //       return param
      //       // return this.updateType_
      //   },
      //   set(value)
      //   {
      //       this.updateType_ = value
      //   }
      // },
    },


    // watch: {
    //   // 篩選更新類別
    //   updateType: function (newValue, oldValue) {
    //     window.location.href = "{% url 'updates' 1 %}?filter=" + this.updateType;
    //   },
    // },

  });
</script>
{% endblock script %}